# Python junk
*.pyc
__pycache__
*.egg-info

# Vim junk
*.swp
*.swo
.*.swp
.*.swo

# Build/test temporaries
*.o
build
_build
prod_build
out
performance_testsuite
tmp
langkit.prof
README.html
core.*
valgrind.out
user_manual/generated

# GNAT/GPS/GDB junk
auto.cgpr
gnatinspect.db
gnatinspect.db-*
*-loc.xml
*.ali
.gdb_history
.gnatdebug
*.ad?.std*

# IDEA junk
.idea

# Ignore Langkit repository
/langkit

# Also ignore a couple of symbolic links and custom conf files
lk
lkadalog
lkgdb
lkex
lksp
lktl
lktp
.build_mode

# Internal testsuite
/testsuite/tests/internal

# Custom grab bag dir
/misc
