# Python junk
*.pyc
__pycache__

# Vim junk
*.swp
*.swo
.*.swp
.*.swo

# Build/test temporaries
*.o
build
out
performance_testsuite
tmp

# GNAT/GPS junk
auto.cgpr
gnatinspect.db
gnatinspect.db-*
*-loc.xml
*.ali

# IDEA junk
.idea

# Ignore langkit repo
langkit

# Also ignore a couple of symbolic links
extsrc
lg
lk
lkex
lksp
lktp

# ACATS
ada/testsuite/acats
