# TODO??? Remove this once the server accepts Ada2012...
langkit/langkit/support/*.adb no-precommit-check
langkit/langkit/support/*.ads no-precommit-check

ada/asteval/*.adb no-precommit-check
ada/asteval/*.ads no-precommit-check
ada/extensions/src/*.adb no-precommit-check
ada/extensions/src/*.ads no-precommit-check
ada/testsuite/tests/*/*/*.adb no-precommit-check
ada/testsuite/tests/*/*/*.ads no-precommit-check
ada/testsuite/tests/*/*/*.c no-precommit-check
ada/testsuite/tests/*/*/*/*.adb no-precommit-check
ada/testsuite/tests/*/*/*/*.ads no-precommit-check
ada/testsuite/tests/*/*/*/*.c no-precommit-check
ada/testsuite/*/*/*.h no-precommit-check
ada/testsuite/ada/* no-precommit-check
ada/testsuite/c_support/* no-precommit-check

ada/doc/conf.py no-precommit-check
langkit/doc/conf.py no-precommit-check
