# Python junk
*.pyc
__pycache__

# Vim junk
*.swp
*.swo
.*.swp
.*.swo

# Build/test temporaries
*.o
build
out
performance_testsuite
ada/testsuite/tmp

# GNAT/GPS junk
auto.cgpr
gnatinspect.db
gnatinspect.db-*
*-loc.xml
*.ali

# IDEA junk
.idea/workspace.xml

# Ignore langkit repo
langkit
