env:
  global:
    - ADALIB_DIR=$HOME/adalib
    - TOOLS_DIR=$HOME/build_tools
    - INSTALL_DIR=$HOME/install
    - LIBRARY_PATH=/usr/local/lib

matrix:
  include:
    - os: linux
      language: python
      python: "2.7"
    - os: osx
      language: generic

cache:
  directories:
  - $HOME/build_tools
  - $HOME/install
  - $HOME/.cache/pip
  timeout: 1000

install: utils/travis-install.sh
script:  utils/travis-script.sh

deploy:
  on:
    branch:
      - master
      - stable
  skip_cleanup: true
  provider: bintray
  file: utils/bintray.json
  user: reznikmm
  key:
    secure: "ebmDxmU2p4Qk9UlIj8E5EGDcjCcAumj7zZjjVXnG69P7/eCFCcC9HJ5sgnwJzuaBz1e9MfSrS8EZUeUVDqrOhGS7rWtpTs9beoBqeYTTYYbP+AtYaaL4P2/uldd9FxzJ6+o2p8dnSDpu73E89ltm0TzhviGkw/wcReOCG0AB4cnFgP89wE7OWmeKzjjve7nokeUIyII7mmUEarij7rgm2rP2P5SdQv8egA4RMHCC0enmdMnqyzGBXJoLYWGE7txSKQfJpeehXjpbbgpZGNOYY0rxlMVR/umrfdk8YTijH2O1oz/KEkgkjVAS1mxVm6aZe6QS53GHio3mbYAd0BHlWzb7LTlBlc/dk3DOMyjQLs+E0jAd9HpUDqPSJlrQA7qYGpud4NUbgJHUFL2HbSMwUCzh/dCoZ5XlJQsMLSoj01NW7vkbKm5zEqiSb155ht0MLE5R3t1wiRsisyMNQPm8SpuMGUe5/4TmjQvaL4/uXkeGkqMLtUi+ALbam3i6ViM8ns48ehmo1gVUiBRyxZ3+DQKPJKdBAGz5HbTibliZDaU/x2Xf8rEI7GR6xDqRmyIJev7jga3cpUBNfa/cj7W2jYiTf2CFZ7rN0+XjqjAxemq6cRDetM/lkiBvYW43oL2sx0GPJ/r5o5d/YDp0dMh3ighej882LUY54Lnkw/whReg="

